.navMenu-container {
  display: flex;
  font-size: 1.3rem;
  gap: 3rem;
  justify-content: center;
  left: 0;
  padding: 2rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  border-width: 1px;
  border-color: white;
}